<body>

  <h1>
    Welcome One and All to the Magical Creatures Website!
  </h1>

  <p>
    This is a website for the purpose of displaying and learning all about magical
    creatures. Please enjoy!
  </p>

  <img src="https://64.media.tumblr.com/29b2ad133ae699b74fda82dedc3eeac2/tumblr_n00ie39Imd1tqfyozo1_1280.jpg" %>

</body>
